.keyboard {
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 245px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 256px;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

button {
  padding: 10px;
  background-color: rgb(17, 106, 126);
  border: 1px solid white;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}

#phantom_button {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}

button:active {
  background-color: rgb(100, 98, 98);
}

#top_buttons {
  display: inline-block;
  width: 120px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 10px;
}

#top_button {
  display: inline-block;
  width: 250px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 10px;
}

#space_button {
  width: 250px;
}

#current_word {
  margin: 0px;
  font-size: 18px;
  padding: 2px;
}

#grid_header {
  margin: 0px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 16px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
